@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.font-menu {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.font-menu li a:hover {
    background: #f2acb9;
    color: white !important;
    border-radius: 5px;
    transform: scale(1.2);
}

.logoHeader {
    width: 100px;
}

/* call action */

.bg-action {
    background-image: url('/img/morangocreme300.png');
    background-size: cover;
}

.teste {
    background: #f2acb9;
}

.teste1 {
    height: 500px;
}